.App {
  text-align: center;
}

.SignIn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  border: 1px solid;
  padding: 10px;
  text-align: left;
  margin-top: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Home {
  margin-top: 24px;
}

.carousel {
  width: 100%;
  height: 50vh;
}

.comment {
  margin-top: 12px;
  height: 60px;
}

.commentButton {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.carouselCard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

.BlogSpace {
  align-items: baseline;
}

.exploreButton {
  position: absolute;
  right: 0px;
  padding-bottom: 10px;
}

.list {
  margin-top: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Radio {
  margin-left: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
